=form_for @attachment, builder: BootstrapFormBuilder do |f|
	= f.errors
	= f.hidden_field :product_id, value: product_id
	.col-md-9.inline-block
		= f.file_field :archivo
	.col-md-3.inline-block
		= f.submit "Adjuntar"
