.col-xs-12.col-md-10.center-block.no-float
  .card.small-padding
    .top-space
      .col-md-4.col-xs-12.inline-block
        - #hace referencia al Modelo de Product y renderiza un Parcial en la carpeta "products/_product.haml"
        =render current_user.products
      .col-md-8.col-xs-12.inline-block.vertical-top
        =render "payments/index"
