%h4
  Pagar con:
.inline-block.right-space
  = button_to "/pagar", method: :post, class: "btn btn-success" do
    Paypal
.inline-block.right-space
  = link_to "Tarjeta de credito", "#tarjetac", class: "btn btn-primary", :"data-toggle"=>"modal"
.inline-block
= link_to "Tarjeta de debito", "#tarjetac", class: "btn btn-primary", :"data-toggle"=>"modal"

