$azul : #55C3DC ;
$claro : #E7F3EF ;
$rojo : #E24B2C ;
$cafe : #8C6429 ;
$gris : #73726D ;
$gris2 : #DEDBCC ;
$verde : #52D102 ;


body{
  background-color: $claro;
}
.notice, .alerta{
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
}

.alert-box{
  color: $claro;
  margin: 0;
  background-color: $azul;

  span:hover {
    cursor: pointer;
  }
}


// COLORES
.texto-azul{
  color: $azul;
}
.fondo-azul{
  background-color: $azul;
}

.texto-claro{
  color: $claro;
}
.fondo-claro{
  background-color: $claro;
}

.texto-rojo{
  color: $rojo;
}
.fondo-rojo{
  background-color: $rojo;
}

.texto-cafe{
  color: $cafe;
}
.fondo-cafe{
  background-color: $cafe;
}

.texto-gris{
  color: $gris;
}
.fondo-gris{
  background-color: $gris;
}

.texto-verde{
  color: $verde;
}
.fondo-verde{
  background-color: $verde;
}


// TEXTOS
.texto-normal{
  font-size: 1em;
}
.texto-medium{
  font-size: 1.5em;
}
.texto-big{
  font-size: 2em;
}
.bold{
  font-weight: bold;
}
.normal{
  font-weight: normal;
}

// MARGENES, PADDINGS, BORDES
.no-padding{
  padding: 0;
}
.super-small-padding{
  padding: 0.3em;
}
.small-padding{
  padding: 1em;
}
.medium-padding{
  padding: 2em;
}
.large-padding{
  padding: 3em;
}
.big-padding{
  padding: 4em;
}
.no-margin{
  margin: 0;
}
.vertical-middle{
  vertical-align: middle !important;
}
.vertical-top{
  vertical-align: top !important;
}
.vertical-bottom{
  vertical-align: bottom !important;
}
.top-space{
  margin-top: 1em !important;
}
.bottom-space{
  margin-bottom: 1em !important;
}
.left-space{
  margin-left: 1em !important;
}
.right-space{
  margin-right: 1em !important;
}

// BLOQUES

.inline-block{
  float: none !important;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  margin-left: -4px;
}
.no-float{
  float: none;
}

// INPUTS
.form-control-wrapper textarea{
  resize: vertical;
}

//IMAGENES
img{
  max-width: 100%;
}
.full-img{
  width: 100% !important;
}

// ELEMENTOS
.navbar{
  margin-bottom: 0;
}
.lista-productos{
  &:hover{
    background-color: $gris2;
  }
  a:hover{
    text-decoration: none;
  }
}
