!!! 5
%html
	%head
		%title Ecommerce
		%meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1"}
		= stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags

	%body
		%div.alert-box.small-padding{:style=> "#{'display:none;' if alert.nil? && notice.nil?}"}
			%span.pull-right#cerrar-ventana
				X
			%p.notice
				=notice
			%p.alerta
				=alert

	=yield
